@import '../variables/colors';

dialog {
    border: 1px solid map-get($palette, 'dark-grey');
    border-radius: 5px;
    left: 50%;
    margin: .7em;
    max-width: 31.25em;
    padding: .7em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    &.full-screen {
        margin: 0;
        max-width: unset;
    }

    &.small {
        max-width: 15.625em;
    }

    &.large {
        max-width: 62.5em;
    }

    i {
        &.close {
            position: absolute;
            right: .35em;
            top: .35em;
        }
    }
}
