/* investigate: https://codepen.io/cmegown/pen/rOPgpr */

@import '../variables/colors';

dialog {
    border: 1px solid map-get($palette, 'dark-grey');
    border-radius: .35em;
    height: calc(100% - 1.4em);
    left: 50%;
    margin: 0;
    max-height: 100%;
    max-width: 31.25em;
    padding: .7em 0 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 1.4em);

    &.full-screen {
        max-width: unset;
    }

    &.small {
        max-width: 15.625em;
    }

    &.large {
        max-width: 62.5em;
    }

    i {
        &.close {
            cursor: pointer;
            float: right;
            margin: -.35em .35em 0 0;
            position: sticky;
        }
    }
}
