@import './variables/index';

@mixin background-colors ($palette) {
    @each $color-set in $palette {
        @each $color-name, $color in $color-set {
            &.#{$color-name} {
                background-color: $color;
            }
        }
    }
}

span {
    &.black {
        background-color: $black;
    }

    @include background-colors($palette);

    &.white {
        background-color: $white;
    }
}
