$one-pixel: .0625rem;
$two-pixels: .125rem;
$three-pixels: .1875rem;
$four-pixels: .25rem;
$five-pixels: .3125rem;
$six-pixels: .375rem;
$seven-pixels: .4375rem;
$eight-pixels: .5rem;
$nine-pixels: .5625rem;
$ten-pixels: .625rem;
$eleven-pixels: .6875rem;
$twelve-pixels: .75rem;
$thirteen-pixels: .8125rem;
$fourteen-pixels: .875rem;
$fifteen-pixels: .9375rem;
$sixteen-pixels: 1rem;
